<!DOCTYPE html>
<html>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<link rel="stylesheet" type="text/css" href="../css/Achievements.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
	<title>ELIXAR ACHIEVEMENTS</title>
</head>
<body>
	<div class="navbar">
		<div class="topnav">
			<div class="logo"><img src="../../images/logo1.jpg"></div>
			<div id="site"><a href="#elixar">ELIXAR SYSTEMS</a></div>
			<div><a href="#signin">Sign In</a></div>
			<div><a href="#login">Login</a></div>
			<div><a href="#contact">Contact</a></div>
			<div><a href="project.htm">Projects</a></div>
			<div><a href="achievements.html">Achievements</a></div>
			<div><a href="about_us.html">About</a></div>
			<div><a href="index.html">Home</a></div>
		</div>
	</div>


	<h1>
		MILESTONES & ACHIEVEMENTS
	</h1>
<div>
	<div class="flex-container">
    	
    	<div class="flex1"><div class="image" style="padding: 5vh;"><img src="../../images/bg2.jpg" style="height: 30vh; width: 30vw; "></div><div style="padding: 5vh;">akjdf nfbd jfn ehfuih efhuw wqj fnkrej enhrij herjg jrne vuhe nbdhj hbdjd bhn sdh ndsh nejf <p><button>Read More</button></p></div></div>
    	<div class="flex2"><div class="image" style="padding: 5vh;">akjdf nfbd jfn ehfuih efhuw wqj hfd wsnhuir reiu erjfk uhduic vuhe nbdhj hbdjd bhn sdh ndsh nejf <p><button>Read More</button></p></div><div style="width: 50vw;" style="padding: 5vh;"><img src="../../images/bg2.jpg" style="height: 30vh; width: 30vw; "></div></div>	
  </div>
</div>

  		<div class="footer">
    		<div class="flex-container1" >
      			<div>   > Find Us:<br><br>    NAB-6166D Birla Institute of Technology and Science, Pilani, Rajasthan</div>
      			<div> > Home<br> > About Us<br> > Services<br> > contact </div>
      			<div> > Get in Touch <br><i class="fafa-map-marker"></i> 4578 ghhbdfkjghsreyhiuvsbv <br> info@gmail.com <br> 1*800*9111001011</div>
    		</div>
		</div>


</body>
</html>