<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/project.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
	<title>ELIXAR SYSTEM</title>
</head>
<body>
  <div class="navbar">
    <div class="topnav">
      <div class="logo"><img src="../../images/logo1.jpg"></div>
      <div id="site"><a href="#elixar">ELIXAR SYSTEMS</a></div>
      <div><a href="#signin">Sign In</a></div>
      <div><a href="#login">Login</a></div>
      <div><a href="#contact">Contact</a></div>
      <div><a href="project.htm">Projects</a></div>
      <div><a href="achievements.html">Achievements</a></div>
      <div><a href="about_us.html">About</a></div>
      <div><a href="index.html">Home</a></div>
    </div>
  </div>
  
    
    
<div>
    <h1 align="center">  Projects </h1>
    
      
   
	
</div>
<!--
<div class="part3">

	
    
	
</div>
    
    <!-- t2 -->
<div class="container">
     <div class="sec-boxes" role="section">
        <div id="about">
            
            
      <div class="box" style="width: 95%">
     <div >
          
        <h1 align="center" ><strong>AR Textbook </strong></h1>
          <p>Visualize, Experience and Memorize!</p>
          <p>
Textbooks are boring, Elixar Systems wants to change that. Employing Augmented Reality, just point your smartphone and witness the complex concepts in front!
          </p><p>
Pass electricity through AC motor, delve into animal cell or perform the distillation experiment. Elixar Systems empowers you to augmented the scientific world around.</p>
            <p>
Understanding and visualization is just the beginning. We know academics involve extensive memorization. Our app utilizing the coveted memory palace technique allows a student to witness a storyline and imbibe the complex concepts. </p>
          <p>
Elixar Systems envisions to provide interactive 3-D simulations played over every complex concept and make learning experiential again.

</p>
          </div>
          
          <div>
          <img src="../../images/bg1.jpg" width="80%" height="80%">
          </div>
        
        </div>
         
            
      <div class="box" style="width: 95%">
          
        <div>
          <img src="../../images/bg1.jpg" width="80%" height="80%">
          </div>
          
          <div>
        <h1 align="center">AR Research Laboratory</h1>
        <p>Augmented Reality is in a technologically nascent stage. For enhancing consumer experience and making AR consumer ready, Elixar Systems is setting up AR Research Laboratory.</p> <p>
The Lab would be equipped with the latest state-of the art hardwares would allow developers to enter into the realm of innovative hardware tinkering.</p> <p> 
Containing AR Headsets, sensory equipments and many more, AR Research Laboratory would push forward the development of Augemented Reality to unseen heights.
</p>
          </div>
        </div>
        </div>
      </div>
  
    
     <div class="sec-box" role="section">
        <div id="about">
            
            
      <div class="box" style="width: 95%">
     
          <div>
        <h1 align="center">Educational Venture</h1>
          <p>Elixar Systems envisions to make you visualize and project what you imagine. </p> <p>
Learning in its truest sense needs to be experiential and visualization-centric. For eg:- You can visualize the exact details of your home but would fail to  even recall the data you read today in Economic Times. </p> <p>
This is called spatial memory, its quite technical but long story short you remember what you interact with and witness in front of you.</p> <p>
Elixar Systems has ventured into education with the vision of bringing in experiential learning utilizing the spatial memory.</p> <p>
Education in its truest sense needs to be experiential. Human beings memorize and understand most efficiently when they interact with it in their real-life environment.</p><p>
          Need a research paper or excel sheet data to support this?</p> <p>
Lets go on a thought experiment. Try to remember how does the kitchen in your home look like? Think where the plates are kept?
You got it! Now try remembering the GDP data you read in Economic Times,oh seems someone forgot! </p> <p>
          Its simple when you interact and visualize you learn & memorize. </p> <p>
Elixar Systems has brought this form of pedagogy into the furlore. We are actively developing a series of AR products which serve to improve the learning methodology of the country.

</p>
              </div>
         <div>
          <img src="../../images/bg1.jpg" width="80%" height="80%">
          </div>
        </div>
            
           
      <div class="box" style="width: 95%">
           <div>
          <img src="../../images/bg1.jpg" width="80%" height="80%">
          </div>
      
          <div>
        <h1 align="center">AR Workshops</h1>
        <p>A crucial part of dormroom-market philosophy involves training the college developers. Elixar Systems collaborates with technical giants and holds specialized AR Development workshops at colleges. </p> <p>
In collaboration with CSIR-CEERI, Nvidia and Google Developer Group Elixar Systems has held extensive workshops which train and empower students to venture into this mystical field. </p> <p>
          Details of the workshop:-  </p>
          <p>
              •	They usually have a duration of 3-4 days, spanning 6 hours each day.</p><p>
•	Includes specialized keynote sessions by eminent experts like:- <br> 
o	Lalit Yagnik(Asia-Pacific Head Eon Reality)
          <br>
o	Sasi Kumar( Solution Architect Nvidia) 
          </p><p>
•	The AR development skills taught by experts from Elixar Systems include:- <br>
o	3D modelling in Blender <br>
o	Unity Game Development <br>
o	Vuforia+AR Core+ AR Kit usage <br>
o	Spatial Thinking sessions <br>

</p>
              </div>
            </div>      
         </div>
        
        </div>
      <div class="footer">
        <div class="flex-container1" >
            <div>   > Find Us:<br><br>    NAB-6166D Birla Institute of Technology and Science, Pilani, Rajasthan</div>
            <div> > Home<br> > About Us<br> > Services<br> > contact </div>
            <div> > Get in Touch <br><i class="fafa-map-marker"></i> 4578 ghhbdfkjghsreyhiuvsbv <br> info@gmail.com <br> 1*800*9111001011</div>
        </div>
      </div>
</div>

</body>
</html>