<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<link rel="stylesheet" type="text/css" href="../css/A-3.css">
		<link rel="stylesheet" type="text/css" href="../css/footer.css">
		<link rel="stylesheet" type="text/css" href="../css/navbar.css">
		<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
		
	<!-- <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet"> -->

	<title>ELIXAR SYSTEM</title>
</head>

<body>

<div class="navbar">
	<div class="topnav">
		<div class="logo"><img src="../../images/logo1.jpg"></div>
		<div id="site"><a href="#elixar">ELIXAR SYSTEMS</a></div>
		<div><a href="#signin">Sign In</a></div>
		<div><a href="#login">Login</a></div>
		<div><a href="#contact">Contact</a></div>
		<div><a href="project.htm">Projects</a></div>
		<div><a href="achievements.html">Achievements</a></div>
		<div><a href="about_us.html">About</a></div>
		<div><a href="index.html">Home</a></div>
	</div>
</div>

<hr style="color: white;">
	
<!--
<div class="container">
	<div class="img_home">
		<div class="flex-container"></div>
		
	</div>
	<div class="element odd">
		
			<h1 id="vision">OUR VISION</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
			
	</div>
	<div class="element even">
			<h1 id="vision">What do we do</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
	</div>
	<div class="element odd">
			<div>
				<h1 id="team">OUR Team</h1>
				<p>team members with pics</p>
			</div>		
	</div>
	<div class="element even">
			<h1 id="vision">Industry Affliliation and collaboration</h1>
			<p>info</p>
	</div>
</div>
 -->
 <div class="container">
	 <div class="scroll_img">
		<div class="img_home">
				<video autoplay muted loop id="myVideo">
  <source src="../../images/video.mp4" type="video/mp4">
  
</video>
		</div>	
	 </div>
	 <div class="elements">
		 <div id="vis_mis" class="element odd">
				<div id ="one" class="circle">
					<h1>Our Vision</h1>
					<p>hey whassup i have a test tomorrow</p>
				</div>
				<div id ="two" class="circle"></div>
		 </div>
		
			</div>	
		 <div id="our_work" class="element even">
			 <h1>What we do</h1>
			 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	

		 </div>
		 <div id="team"class="element odd">
			<!-- Members section -->
<div class="head_mem">Leadership</div>
<div class="grid" id="grid">
		<div id="mem" class="member">
				<img src="../../images/bg3.jpg">
				<div class="info">
				<h1>Mudit Shivendra</h1>
				<h3>(President, ACM)</h3>
				</div>
			</div>
			<div id="mem" class="member">
				<img src="../../images/bg3.jpg">
				<div class="info">
				<h1>Person 2</h1>
				<h3>(Secretary, ACM)</h3>
				</div>
			</div>
			<div id="mem" class="member">
					<img src="../../images/bg3.jpg">
					<div class="info">
					<h1>Person 3</h1>
					<h3>(Management Head, Acm)</h3>
					</div>
			</div>
			<div id="mem" class="member">
					<img src="../../images/logo.jpg">
					<div class="info">
					<h1>Person 3</h1>
					<h3>(Management Head, Acm)</h3>
					</div>
			</div>
			<div id="mem" class="member">
					<img src="../../images/logo.jpg">
					<div class="info">
					<h1>Mudit Shivendra</h1>
					<h3>(President, ACM)</h3>
					</div>
				</div>
				<div id="mem" class="member">
					<img src="../../images/logo.jpg">
					<div class="info">
					<h1>Person 2</h1>
					<h3>(Secretary, ACM)</h3>
					</div>
				</div>
				<div id="mem" class="member">
						<img src="../../images/bg3.jpg">
						<div class="info">
						<h1>Person 3</h1>
						<h3>(Management Head, Acm)</h3>
						</div>
				</div>
				<div id="mem" class="member">
						<img src="../../images/bg3.jpg">
						<div class="info">
						<h1>Person 3</h1>
						<h3>(Management Head, Acm)</h3>
						</div>
				</div>
				<div id="mem" class="member">
				<img src="../../images/logo.jpg">
				<div class="info">
				<h1>Person 3</h1>
				<h3>(Management Head, Acm)</h3>
				</div>
		</div>
		<div id="mem" class="member">
			<img src="../../images/bg3.jpg">
			<div class="info">
			<h1>Person 4</h1>
			<h3>(Regular Employee</h3>
			</div>
		</div>
	</div>
	
		 </div>
		 <div id="collabs"class="element even">
			 <div id="leftbox"><h1>Industry Affiliations and Collaborations</h1></div>
			 <div id="rightbox">
				 <ul>
					 <li>national centre for education research and teaching</li>
					 <li>microsoft haslf lhsdaifh nlckjnciaec</li>
					 <li>goiooioigle private limited</li>
					 <li>national centre for education research and teaching</li>
					 <li>microsoft haslf lhsdaifh nlckjnciaec</li>
					 <li>goiooioigle private limited</li>
					 <li>national centre for education research and teaching</li>
					 <li>microsoft haslf lhsdaifh nlckjnciaec</li>
					 <li>goiooioigle private limited</li>
				 </ul>
			 </div>
		 </div>
	</div>
 </div>

<!--  <div class="footer">
    		<div class="flex-container1" >
      			<div>   Find Us:<br><br>    NAB-6166D Birla Institute of Technology and Science, Pilani, Rajasthan</div>
      			<div>Home<br>About Us<br>Services<br>contact </div>
      			<div>Get in Touch <br><i class="fafa-map-marker"></i> 4578 ghhbdfkjghsreyhiuvsbv <br> info@gmail.com <br> 1*800*9111001011</div>
    		</div>
</div> -->

  		<div class="footer">
    		<div class="flex-container1" >
      			<div>   > Find Us:<br><br>    NAB-6166D Birla Institute of Technology and Science, Pilani, Rajasthan</div>
      			<div> > Home<br> > About Us<br> > Services<br> > contact </div>
      			<div> > Get in Touch <br><i class="fafa-map-marker"></i> 4578 ghhbdfkjghsreyhiuvsbv <br> info@gmail.com <br> 1*800*9111001011</div>
    		</div>
		</div>
</body>
</html>