<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="../css/project.css">
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
	<link rel="stylesheet" type="text/css" href="../css/navbar.css">

	<!-- <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet">
	<title>ELIXAR SYSTEM</title>
</head>
<body>
 <div class="navbar">
    <div class="topnav">
      <div class="logo"><img src="../../images/logo1.jpg"></div>
      <div id="site"><a href="#elixar">ELIXAR SYSTEMS</a></div>
      <div><a href="#signin">Sign In</a></div>
      <div><a href="#login">Login</a></div>
      <div><a href="#contact">Contact</a></div>
      <div><a href="project.htm">Projects</a></div>
      <div><a href="achievements.html">Achievements</a></div>
      <div><a href="about_us.html">About</a></div>
      <div><a href="index.html">Home</a></div>
    </div>
  </div>
    
    <div class="subhead">
	 <div class="head">Projects</div>
	 <!-- <div class="foot">Augmneted Reality</div> -->
</div>

<div class="content">
	<div>
		<div class="flex-container">
  			<div class="flex1"><img src="../../images/bg1.jpg"></div>
  			<div class="flex2"><div style="padding-top: 10px;">AR Textbook</div>
  			<div style="text-align: center; padding-top: 10px;"><p>Visualize, Experience and Memorize!</p>
          <p>
Textbooks are boring, Elixar Systems wants to change that. Employing Augmented Reality, just point your smartphone and witness the complex concepts in front!<br>
          
            <button>Read More</button></div></div>
  		</div>
		<div class="flex-container">
  			<div class="flex2"><div style="padding-top: 10px;">AR Research Laboratory</div><div style="text-align: center; padding-top: 10px;">Augmented Reality is in a technologically nascent stage. For enhancing consumer experience and making AR consumer ready, Elixar Systems is setting up AR Research Laboratory.<br><p>
                <div>   <button>Read More</button> </div> </p>
                </div></div>
  			<div class="flex1"><img src="../../images/bg1.jpg"></div>
  		</div>
  		<div class="flex-container" id="flex3">
  			<div class="flex1"><img src="../../images/bg1.jpg"></div>
  			<div class="flex2"><div style="padding-top: 10px;">Educational Venture</div>
  				<div style="text-align: center; padding-top: 10px;"><p>Elixar Systems envisions to make you visualize and project what you imagine. </p> <p>
Learning in its truest sense needs to be experiential and visualization-centric. <br>
                    <div> <button>Read More</button> </div>
                    </p> </div></div>
  		</div>
        <div class="flex-container">
  			<div class="flex2"><div style="padding-top: 10px;">AR Workshops</div><div style="text-align: center; padding-top: 10px;"><p>A crucial part of dormroom-market philosophy involves training the college developers. Elixar Systems collaborates with technical giants and holds specialized AR Development workshops at colleges.
                <br>
               <div> <button>Read More</button> </div>
                </p> 
                
</div></div>
  			<div class="flex1"><img src="../../images/bg1.jpg"></div>
  		</div>
        
  		<div class="footer">
        	<div class="flex-container1" >
            	<div>   > Find Us:<br><br>    NAB-6166D Birla Institute of Technology and Science, Pilani, Rajasthan</div>
            	<div> > Home<br> > About Us<br> > Services<br> > contact </div>
            	<div> > Get in Touch <br><i class="fafa-map-marker"></i> 4578 ghhbdfkjghsreyhiuvsbv <br> info@gmail.com <br> 1*800*9111001011</div>
        	</div>
      	</div>
		
</div>

    

</body>
</html>