<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="D:\website\static\css/achievements.css">
	<link rel="stylesheet" type="text/css" href="D:\website\static\css/footer.css">
	<!-- <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
	<title>ELIXAR ACHIEVEMENTS</title>
</head>
<body>
<div class="part1">
	<div class="topnav">
		<div class="logo"><img src="D:\website\images/logo1.jpg"></div>
		<div class="site"><a href="#elixar">ELIXAR SYSTEMS</a></div>
		<div><a href="#signin">Sign In</a></div>
		<div><a href="#login">Login</a></div>
		<div><a href="#about">About</a></div>
		<div><a href="#contact">Contact</a></div>
		<div><a href="#home">Home</a></div>
	</div>
</div>


	<h1>
		MILESTONES & ACHIEVEMENTS
	</h1>
<div>
	<div class="grid-container">
    	
    	<div class="grid1"><div><img src="image.jpg" ></div>abcd<div><button>Read More</button></div></div>
    	<div class="grid2"><div><img src="image.jpg" ></div>abcd<div><button>Read More</button></div></div>
    	<div class="grid3"><div><img src="image.jpg" ></div>abcd<div><button>Read More</button></div></div>
    	<div class="grid4"><div><img src="image.jpg" ></div>abcd<div><button>Read More</button></div></div>
    </div>
</div>

<div class="footer">
    		<div class="flex-container1" >
      			<div>   Find Us:<br><br>    NAB-6166D Birla Institute of Technology and Science, Pilani, Rajasthan</div>
      			<div>Home<br>About Us<br>Services<br>contact </div>
      			<div>Get in Touch <br><i class="fafa-map-marker"></i> 4578 ghhbdfkjghsreyhiuvsbv <br> info@gmail.com <br> 1*800*9111001011</div>
    		</div>
</div>

</body>
</html>